 .chat-message-robot{
        display: flex;
        align-items: start;
       
     }
     .chat-message-user{
        display: flex;
       align-items: start;
       justify-content: end;
       
     }
     .chat-message-text{
        background-color: rgb(238, 238, 238);
        padding: 15px 20px;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        max-width: 300px;
     }
     .chat-message-profile{
        width: 45px;
        height: 45px;
        border-radius: 45px;
        object-fit: cover;
     }
     .chat-mesaage-time{
      font-size: 13px;
      color:rgb(125, 125, 125);
      margin-top:5px;
     }