       body{
            font-family: Arial;
            margin:0px;
        }
     .app-container{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
     }
    
     .Starting-Header-message{
        align-items: center;
        color: rgb(120,120,120);
        font-weight: 500px;
     }