  
    .js-header{
        margin: 0px;
        margin-bottom: 10px;
        font-size: larger;
    }
    .js-input{
        width: 250px;
        padding: 10px 10px;
        margin-bottom: 5px;
    }
    .js-button{
        margin-bottom: 10px;
        padding: 6px 10px;
        margin-right: 10px;
        border: none;
        background-color: rgb(101, 101, 254);
        color: aliceblue;
    }
    .js-show{
        margin-left: 10px;
        padding: 6px;

    }